  
  * {
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  a:hover {
    color: rgb(255, 119, 178);
  }

  /******************************************
  /* BASE STYLES
  /*******************************************/
  body {
    margin: 0;
    width: 100%;
    color: rgb(102, 32, 48);
    background-color: rgb(255, 143, 184);
    font-size: 20px;
    font-family: "Sour Gummy", sans-serif;

  }    
  header {
    margin: 0;
    width: 100%;
    color:rgb(226, 69, 119);
    font-size: 30px;
    font-family: "Sour Gummy", sans-serif;

  }

  
  /* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: rgb(226, 69, 119);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(102, 32, 48);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  /* color: black; */
}

/* Add a color to the active/current link */
.topnav a.active {
  /* color: white; */}


.maincontent {
  margin: 20px;
}

.maincontent img {
  margin: 20px;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

  
  h1 {
    margin: 0.2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
    list-style-type: none;
    text-decoration: none;
    padding-right: 1rem;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    margin: 0.2rem;
    color: white;
  }
  
  img {
    max-width: 50%;
  }
